/*************** General **************************/
* {
  box-sizing: border-box;
  color: #606060;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
	margin: 0px;
  padding: 0;
}

/************* Text  **********/
h1 {
	font-family: 'EB Garamond', serif;
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.1;
  margin-bottom: 1rem;
}
@media (min-width: 750px) {
	h1 {
			font-size: 2.5rem;
			line-height: 1.6;
	}
}

h2 {
	font-family: 'EB Garamond', serif;
	font-size: 1.75rem;
	font-weight: 400;
}
@media (min-width: 750px) {
	h2 {
			font-size: 2rem;
	}
}

h3 {
	font-family: 'EB Garamond', serif;
	font-size: 1.5rem;
	font-weight: 400;
}
@media (min-width: 750px) {
	h2 {
			font-size: 1.75rem;
  }
}

p{
  padding-bottom: 2rem;
}

/************* Header w/background Image and nav bar **********/

.billboard {
	color: #606060;
	height: 600px;
	width: 100%;
}

#img-7 {
  background: rosybrown url('../images/header-erik-jan-leusink-104677.jpg') center no-repeat;
  background-size: cover;
}
#header {
	background: rosybrown url('../images/background-header.jpg') center;
}
/****************** navigation *************************/   

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo a {
  font-family: 'EB Garamond', serif;
  font-size: 2rem;
  padding: 10px 20px;
  text-decoration: none;
}
.nav-links {
  display: none;
  width: 100%;
}

.nav-links.active {
  display: block;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-links ul li {
  list-style-type: none;
  margin-right: 1rem;

}
.nav-links ul li a {
  display: block;
  font-size: .875rem;
  font-weight: 700;
  padding: 0 0 .125rem;
  text-decoration: none;
}

.nav-links ul li a:hover,
.nav-links ul li a:focus {
  background: rgb(226, 223, 223);
  color: black;
}

.toggle-menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 20px;
  top: 1rem;
  height: 1.2rem;
  width: 28px;
}

.bar {
  background-color: black;
  border-radius: 30px;
  height: 3px;
  width: 100%;
}
.bar-top.active {
  transform: rotate(45deg) translate(6px, 6px);
}
.bar-bottom.active {
  transform: rotate(-45deg) translate(6px, -5px);
}
.bar-middle.active {
  display: none;
}

/******** nav large screens **************/
@media (min-width: 815px) {
  .logo a {
      font-size: 3rem;
  }

  .toggle-menu-btn {
      display: none;
  }
  .navbar {
      flex-direction: row;
      align-items: center;
  }
  .nav-links {
      display: block;
      width: initial;
  }
  .nav-links ul {
      flex-direction: row;
      justify-content: flex-end;
      margin: 0;
  }
  .nav-links ul li a {
    padding: .25rem .5rem;
  }
}

/*************** content area *****************/
#main-container {
    max-width: 960px;
    margin: auto;
    padding: 2rem 2rem;
}
@media (min-width: 815px) {
  #main-container {
    padding: 3rem 2rem 5rem;
  }
}

/* container for three image boxes */
.flex-container {
    flex-direction: column;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}
@media (min-width: 750px) {
    .flex-container {
        flex-direction: row;
        align-items: flex-start;
    }
}

.img-wrapper {
    margin: 30px;
    /* min-width: 200px; */
    max-width: 330px;
    height: auto;
    border: 1px solid gray;
}
.img-item {
    width: 100%;
    display: block;
    object-fit: cover;
    padding: 10px;
 }
 .caption {
     padding: 0 10px 10px;
 }

 
 .blog-button {
    padding: 15px;
    background-color: #C4A49C;
    color: black;
}

 footer {
     width: 100%;
     border-top: 1px solid #606060;
     padding: 20px;
 }

 /************* Dr Is IN styling************/
.half-screen {
	display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

@media (min-width: 550px) {
  .half-screen {
    flex-direction: row;
    justify-content: space-between;
  }
}

.clinic-img {
  width: 250px;
}

.form_container {
	/* width: 100%;
	margin: auto; */
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* background-color: #afa19e; */
}

@media (min-width: 550px) {
  .form_container {
    margin-top: 40px;
  }
}

/* .form_container h2{
	color: white;
} */

.form {
	width: 100%;
	background-color: gray;
	border-radius: 3px;
	padding: 30px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.field_container {
	background-color: whitesmoke;
	border: none;
	display: flex;
	border-radius: 3px;
	width: 80%;
	margin: 5px 0;
}
.field_container img {
	width: 40px;
	height: 40px;
}

.field_container input {
	flex-grow: 1;
	border: none;
	outline: none;
	border-radius: 3px;
	padding-left: 10px;
	font-weight: 700;
	font-size: 15px;
  overflow: hidden;
}

.button_container {
	background-color: whitesmoke;
	border: none;
	display: flex;
	border-radius: 3px;
	width: 25%;
	margin: 5px 0;
}
.button_container input {
	flex-grow: 1;
	border: none;
	outline: none;
	border-radius: 3px;
	padding: 8px;
	font-weight: 700;
	font-size: 15px;
}

#username:not(:placeholder-shown):invalid {
	box-shadow: 1px 1px 10px red;
}

input[type="date"]:before {
	content: attr(placeholder)!important;
	color: #aaa;
	margin-right: 0.5em;
  overflow: hidden;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
	content: "";
}
.danger {
	box-shadow: 1px 1px 10px red;
	padding: 10px;
	margin: 10px 5px;
}

#feedback {
	position: absolute;
	width: 20%;
	right: 50px;
	top:300px;
	float: right;

}

/***************** Cat Facts  ****************************/

table {
	width: 80%;
	margin: auto;
	padding-bottom: 50px;

}
.narrow {
	width: 150px;
}
td {
	border-bottom: 1px solid gray;
	padding: .5rem 0;
}

/**************** Picture Gallery **********************/
.gallery-container {
  display: flex;
  gap: 10px;
  justify-content: center; 
  align-items: center;
  flex-flow: row wrap;
}
@media (min-width: 960px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 10px;
  }
}

.gallery-item {
  border: 2px solid rosybrown;
  width: 300px;
  height: 175px;
  object-fit: cover;
 }

 .gallery-item-tall {
   border: 2px solid rosybrown;
   width: 300px;
   height: 425px;
   object-fit: cover;
 }



#img-8 {
  background: rosybrown url('../images/active-adelin-grigorescu-1350162.jpg') center no-repeat;
  background-size: cover;
}
#img-9 {
  background: rosybrown url('../images/active-gogolev-aleksandr-1119827.jpg') center no-repeat;
  background-size: cover;
}
#img-10 {
  background: rosybrown url('../images/active-philippe-gagne-470601.jpg') center no-repeat;
  background-size: cover;
}
#img-11 {
  background: rosybrown url('../images/active-hisakata-hiroyuki-captures-photos-of-ninja-cats.jpg') center no-repeat;
  background-size: cover;
}
#img-12 {
  background: rosybrown url('../images/active-jump-play-kitty.jpg.638x0_q80_crop-smart.jpg') center no-repeat;
  background-size: cover;
}
#img-13 {
  background: rosybrown url('../images/active-ramiz-dedakovic-1331862.jpg') center no-repeat;
  background-size: cover;
}
