<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Facts</title>
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../scripts/hover-pix.js"></script>

    <style>
        .highlight {
            border: 10px solid gray;
        }
    </style>

</head>

<body>
    <header id="header">

        <!--nav-bar -->
        <nav class="navbar">
            <div class="logo"><a href="../index.html">Kitty Corner</a></div>
            <button aria-expanded="false" aria-haspopup="true" aria-controls="menu" class="toggle-menu-btn">
                <svg aria-hidden="true" focusable="false" class="hamburger" viewBox="0 0 100 80" width="40" height="40">
                    <rect width="100" height="12" rx="8"></rect>
                    <rect y="30" width="100" height="12" rx="8"></rect>
                    <rect y="60" width="100" height="12" rx="8"></rect>
                </svg>
                 <span class="screen-reader" >Menu</span>
            </button>
            <div class="nav-links">
                <ul role="menu">
                    <li role="none"> <a role="menu-item" href="doctor.html">The Dr. Is In</a></li>
                    <li role="none"> <a role="menu-item" href="#">Cat Story</a></li>
                    <li role="none"> <a role="menu-item" href="cats-sleeping.html">Sleeping</a></li>
                    <li role="none"> <a role="menu-item" href="cats-faces.html">Faces</a></li>
                    <li role="none"> <a role="menu-item" href="cats-active.html">Investigating</a></li>
    
                </ul>
            </div>
        </nav>
    </header >
    <main id="main-container">
        <h2>Where did cats come from?</h2>
        <p>We were curious too. See the origin story below...and then other curious words.
        </p>
        <h3> The Origin Story</h3>
        <p>Old English catt (c. 700) "domestic cat," from West Germanic (c. 400-450), from Proto-Germanic *kattuz
            (source also of Old Frisian katte, Old Norse köttr, Dutch kat, Old High German kazza, German Katze), from
            Late Latin cattus.</p>
        <p>
            The near-universal European word now, it appeared in Europe as Latin catta (Martial, c. 75 C.E.), Byzantine
            Greek katta (c. 350) and was in general use on the continent by c. 700, replacing Latin feles. Probably
            ultimately Afro-Asiatic (compare Nubian kadis, Berber kadiska, both meaning "cat"). Arabic qitt "tomcat"
            may be from the same source.</p>
        <p>Cats were domestic in Egypt from c. 2000 B.C.E., but not a familiar
            household
            animal to classical Greeks and Romans. The nine lives have been proverbial at least since 1560s.
            The Late Latin word also is the source of Old Irish and Gaelic cat, Welsh kath, Breton kaz, Italian gatto,
            Spanish gato, French chat (12c.). Independent, but ultimately from the same source are words in the Slavic
            group: Old Church Slavonic kotuka, kotel'a, Bulgarian kotka, Russian koška, Polish kot, along with
            Lithuanian katė and non-Indo-European Finnish katti, which is from Lithuanian.
            Extended to lions, tigers, etc. c. 1600.</p>
            <p> As a term of contempt for a woman, from early 13c. Slang sense of
            "prostitute" is from at least c. 1400. Slang sense of "fellow, guy," is from 1920, originally in
            African-American vernacular; narrower sense of "jazz enthusiast" is recorded from 1931.</p>
            <p>
            Cat's paw (1769, but cat's foot in the same sense, 1590s) refers to the old folk tale in which the monkey
            tricks the cat into pawing chestnuts from a fire; the monkey gets the roasted nuts, the cat gets a burnt
            paw. Cat burglar is from 1907, so called for stealth. Cat-witted "small-minded, obstinate, and spiteful"
            (1670s) deserved to survive. For Cat's meow, cat's pajamas, see bee's knees. For let the cat out of the
            bag, see bag (n.).</p>
        <table role="region" aria-labelledby="region2">
            <h2 id="region2">Curious Cat Vocabulary</h2>
            <tbody>
                <tr>
                    <td class="narrow"><strong>catwalk (n.)</strong></td>
                    <td class="wide">1874, "long, narrow footway," from cat (n.) + walk (n.); in reference to such
                        narrowness of
                        passage that one has to cross as a cat walks. Originally especially of ships and theatrical
                        back-stages; application to fashion show runways is by 1942.
                    </td>
                </tr>
                <tr>
                    <td class="narrow"><strong>catbird (n.)</strong></td>
                    <td class="wide">also cat-bird, 1731, common name for the North American thrush (Dumetella
                        Carolinensis), so
                        called from its warning cry, which resembles that of a cat; from cat (n.) + bird (n.1). Catbird
                        seat is a late 19c. .
                    </td>
                </tr>
                <tr>
                    <td class="narrow"><strong>catkin (n.)</strong></td>
                    <td class="wide">"spike of a flowering tree or shrub (especially a willow or birch) after
                        fruiting," 1570s, from
                        Dutch katteken "flowering stem of willow, birch, hazel, etc.," literally "kitten," diminutive
                        of katte "cat" (see cat (n.)). So called for their soft, furry appearance.
                    </td>
                </tr>
                <tr>
                    <td class="narrow"><strong>catapult (n.)</strong></td>
                    <td class="wide">when your cat launches herself from the arm of a chair on to the nearest table,
                        somehow without upsetting the vase of flowers.
                    </td>
                </tr>
                <tr>
                    <td class="narrow"><strong>concatenate (v.)</strong></td>
                    <td class="wide">give birth to a cat with a sly or sneaky personality.
                    </td>
                </tr>
                <tr>
                    <td class="narrow"><strong>catatonic (n.)</strong></td>
                    <td class="wide">the condition of laying spread-eagled on one’s back, snoring softly.
                    </td>
                </tr>
                <tr>
                    <td class="narrow"><strong>catnip  (n.)</strong></td>
                    <td class="wide">when active play overstimulates your cat and she gives you a little 
                        bite to relieve her stress.
                    </td>
                </tr>
                <tr>
                    <td class="narrow"><strong>cattycorner (v.)</strong></td>
                    <td class="wide">the deepest darkest corner of your closet, where your cat hides in 
                        order that both you and she experience existential dread.
                    </td>
                </tr>
                <tr>
                    <td class="narrow"><strong>catastrophy (n.)</strong></td>
                    <td class="wide">when your cat wins the “best behind” award at the Miss Cat America contest.
                    </td>
                </tr>
            </tbody>
        </table>

    </main>
    <script src="../scripts/nav-toggle.js"></script>

    <footer>Copyright 2019 Meg Parsons</footer>

</body>

</html>