<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sleeping Cats</title>
    <link rel="stylesheet" type="text/css" href="../style/style-pix.css">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../scripts/hover-pix.js"></script>


    <style>
    .highlight {
        border: 10px solid gray;
    }
    </style>

</head>

<body>
    <header>
        <!--nav-bar -->
        <div class="navbar">
            <div class="menu-items">
                <!--regular link -->
                <h1>Kitty Corner</h1>
                <div>
                    <a href="../views/doctor.html">The Dr. Is In</a>
                    <a href="../views/cat-facts.html">Cat Story</a>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Kitty Pix
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="../index.html">Home</a>
                        <a href="../views/cats-faces.html">Cat Faces</a>
                        <a href="../views/cats-active.html">Cats Investigating</a>
                    </div>
                </div>
            </div>
        </div>


    </header>
    <main id="main-container">
        <h2>Kitties in their sweetest state.</h2>
        <p>We adore watching cats nap. Like babies, they can be sprawled out, totally unprotected or nestled under a
            cosy blanket. Sunny spots attract snoozy cats and soft surfaces make for happy napping.</p>
        <section class="gallery-container">
            <div class="img-item" id="img-1"></div>

            <div class="img-item" id="img-2"></div>
            <div class="img-item" id="img-3"></div>
            <div class="img-item" id="img-4"></div>
            <div class="img-item" id="img-5"></div>
            <div class="img-item" id="img-6"></div>
        </section>
    </main>

    <footer>Copyright 2019 Meg Parsons</footer>

</body>

</html>
