<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitty Faces</title>
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../scripts/hover-pix.js"></script>


    <style>
    .highlight {
        border: 10px solid gray;
        transform: scale(2);
        transition: ease-in-out .5s;
    }
    </style>

</head>

<body>
    <header id="header">

        <!--nav-bar -->
        <nav class="navbar">
            <div class="logo"><a href="../index.html">Kitty Corner</a></div>
            <button aria-expanded="false" aria-haspopup="true" aria-controls="menu" class="toggle-menu-btn">
                <svg aria-hidden="true" focusable="false" class="hamburger" viewBox="0 0 100 80" width="40" height="40">
                    <rect width="100" height="12" rx="8"></rect>
                    <rect y="30" width="100" height="12" rx="8"></rect>
                    <rect y="60" width="100" height="12" rx="8"></rect>
                </svg>
                 <span class="screen-reader" >Menu</span>
            </button>
            <div class="nav-links">
                <ul role="menu">
                    <li role="none"> <a role="menu-item" href="doctor.html">The Dr. Is In</a></li>
                    <li role="none"> <a role="menu-item" href="cat-facts.html">Cat Story</a></li>
                    <li role="none"> <a role="menu-item" href="cats-sleeping.html">Sleeping</a></li>
                    <li role="none"> <a role="menu-item" href="#">Faces</a></li>
                    <li role="none"> <a role="menu-item" href="cats-active.html">Investigating</a></li>
    
                </ul>
            </div>
        </nav>
    </header>
    <main id="main-container">
        <h2>Excitable cats.</h2>
        <p>Whether they are yawning, or purring or licking their lips, they
            have some pretty cute faces.</p>
        <section class="gallery-container">
            <img src="../images/face-makhmutova-dina-383607-unsplash.jpg" class="gallery-item" alt="cat smiling"/>
            <img src="../images/face-yerlin-matu-481826-unsplash.jpg" class="gallery-item" alt="cat blissed out"/>
            <img src="../images/face-kasey-mccoy-755921-unsplash.jpg" class="gallery-item" alt="cat afraid"/>
            <img src="../images/face-kim-davies-528680-unsplash.jpg" class="gallery-item" alt="cat laughing"/>
            <img src="../images/face-martina-misar-tummeltshammer-103131-unsplash.jpg" class="gallery-item" alt="cat yawning"/>
            <img src="../images/home-asique-alam-69936.jpg" class="gallery-item" alt="cat yowling"/>
        </section>
    </main>
    <script src="../scripts/nav-toggle.js"></script>

    <footer>Copyright 2019 Meg Parsons</footer>

</body>

</html>
