<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sleeping Cats</title>
    <link rel="stylesheet" type="text/css" href="../style/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../scripts/hover-pix.js"></script>

</head>

<body>
    <header id="header">

        <!--nav-bar -->
        <nav class="navbar">
            <div class="logo"><a href="../index.html">Kitty Corner</a></div>
            <button aria-expanded="false" aria-haspopup="true" aria-controls="menu" class="toggle-menu-btn">
                <svg aria-hidden="true" focusable="false" class="hamburger" viewBox="0 0 100 80" width="40" height="40">
                    <rect width="100" height="12" rx="8"></rect>
                    <rect y="30" width="100" height="12" rx="8"></rect>
                    <rect y="60" width="100" height="12" rx="8"></rect>
                </svg>
                 <span class="screen-reader" >Menu</span>
            </button>
            <div class="nav-links">
                <ul role="menu">
                    <li role="none"> <a role="menu-item" href="doctor.html">The Dr. Is In</a></li>
                    <li role="none"> <a role="menu-item" href="cat-facts.html">Cat Story</a></li>
                    <li role="none"> <a role="menu-item" href="#">Sleeping</a></li>
                    <li role="none"> <a role="menu-item" href="cats-faces.html">Faces</a></li>
                    <li role="none"> <a role="menu-item" href="cats-active.html">Investigating</a></li>
    
                </ul>
            </div>
        </nav>
    </header>
    <main id="main-container">
        <h2>Kitties in their sweetest state.</h2>
        <p>We adore watching cats nap. Like babies, they can be sprawled out, totally unprotected or nestled under a
            cosy blanket. Sunny spots attract snoozy cats and soft surfaces make for happy napping.</p>
        <section class="gallery-container">
            <img class="gallery-item" src="../images/sleep-joop-vd-schaaf-1337213.jpg" alt="cat asleep on couch"/>
            <img class="gallery-item" src="../images/sleep-nine-kopfer-488433.jpg" alt="kitten curled up on bed"/>
            <img class="gallery-item" src="../images/sleep-yanko-peyankov-3539.jpg" alt="cat asleep on window sill"/>
            <img class="gallery-item" src="../images/sleep-zhan-zhang-1402682.jpg" alt="cat under blanket"/>
            <img class="gallery-item" src="../images/sleep-jonathan-fink-294000.jpg" alt="cat asleep face up, splayed"/>
            <img class="gallery-item" src="../images/sleep-ioana-tabarcea-1131016.jpg" alt="cat sleeping on desk"/>
        </section>
    </main>
    <script src="../scripts/nav-toggle.js"></script>

    <footer>Copyright 2019 Meg Parsons</footer>

</body>

</html>
